*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: white;
    font-size: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.logo h3 {
    font-weight: 500;
    color: #7b7b7b;
}

.logo h3 span{
    font-weight: 700;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: #7b7b7b;
}

nav a:hover{
    color: black;
}

.section1{
    margin-left: 120px;
    margin-right: 120px;
}

.section1 h1 {
    padding: 70px;
    padding-left: 0;
    text-align: start;
    align-items: center;
    font-size: 40px;
    
}


.iframe-wrap{
    align-items: center;
    height: 600px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.iframe-wrap iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.section2{
    background-color: #201f1f;
    color: white;
    height: 600px;
    margin-top: 30px;
}

.wrap-section2{
    margin-left: 120px;
    margin-right: 120px;
    height: 100%;
    display: flex;
}

.grid1-section2{
    width: 400px;
    padding-top: 80px;
}

.grid1-section2 h2{
    font-size: 40px;
    font-weight: 400;
}

.grid1-section2 .btn{
    margin-top: 40px;
    background-color: #06b47a;
    color: white;
    padding: 10px;
    border: none;
}

.btn:hover{
    cursor: pointer;
    background-color: #7e7979;
    border: 1px solid white;
}

.grid2-section2{
    padding-top: 80px;
    text-align: start;
    width: 100%;
    margin-left: 80px;
}

.wrap-p{
    width: 500px;
}

.wrap-img{
    width: 100%;
    margin-top: 50px;
    z-index: 1;
}

.wrap-img img{
    width: 100%;
    height: 80%;
}

.section3{
    margin-top: 200px;
    background-color: white;
    height: 500px;
    margin-bottom: 100px;

}

.wrap-section3{
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 50px;
}

.wrap-h-section3{
    padding: 60px;
    padding-left: 0;
    font-size: 40px;
    font-weight: 300;
}

.wrap-grid-section3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    padding-left: 0;
}

.wrap-grid-section3 h3{
    font-size: 35px;
}

.wrap-grid-section3 h4{
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
}
.wrap-grid-section3 p{
    font-size: 16px;
    width: 310px;
    padding: 10px;
    padding-left: 0;
    color: #7b7b7b;
}

footer{
    background-color: #201f1f;
    height: 550px;
}

.wrap-foot{
    margin-left: 120px;
    margin-right: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 140px;
    padding-left: 0;
}

.div1 h1{
    font-size: 45px;
    font-weight: 100;
    margin-bottom: 0;
    color: white;
}

.div1 h1 span{
    font-weight: 700;
    margin-top: -20px;
    display: block;
}

.div2 h3{
    margin-top: 5px;
    color: white;
}

.div2 a{
    color: white;
    text-decoration: none;
}

.div2 a:hover{
    text-decoration: underline  #06b47a;
}

.div-nav-foot{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    row-gap: 20px;
}

.div3 form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px; 
}

.div3 input{
    padding: 10px;
    background-color: #424040;
    border: none;
}

.div3 input::placeholder{
    color:#817d7d
}

.div3 .btn {
    background-color: #06b47a;
    color: white;
    padding: 10px;
    border: none;
}

.div3-nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 50px;
    margin-top: 47px;
}

.div3 a {
    text-decoration: none;
    color: white;
}

.div3 a:hover{
    text-decoration: underline  #06b47a;
}
